@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html,
body {
  background: var(--bs-neutral-900);
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mobile-nav-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.container-fluid {
  width: 1280px;
  margin: 0 auto;
}

/* navbar css */

.navbar-wrapper .profile-icon {
  img {
    width: 40px !important;
    height: 40px !important;
  }
}

.navbar-wrapper {
  .navbar-nav {
    flex-direction: row;
    gap: 20px;
  }

  .navbar-nav .nav-item .nav-link:hover,
  .navbar-nav .nav-item .nav-link.active {
    color: var(--bs-primary-500);
    position: relative;
  }

  .navbar-nav .nav-item .nav-link {
    color: var(--bs-white);
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 2px 6px;
  }
}

.navbar-wrapper {
  width: 100%;
  height: 88px;
  /* background: var(--bs-white); */
  /* position: fixed;
  top: 0;
  right: 0px;
  z-index: 998; */
  transition: 0.4s all;
  /* box-shadow: 0px 5px 10px 0px #0000000f; */
  position: relative;
  z-index: 999;
  color: white;
}
.mobile-logo {
  display: none !important;
}
.hero-wrapper {
  /* background: #e7faef; */
  color: white;
  border-radius: 0 0 20px 20px;
  margin-top: -88px;
  padding-top: 88px;
}

.hero {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  position: static;
  overflow: hidden;
  .start-earning {
    width: 60%;
  }
}
.start-earning {
  border-radius: 32px;
}

.category {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  position: static;
  overflow: hidden;
}

.category-title span {
  border-bottom: 2px solid #d7c4a1;
  padding-bottom: 4px;
}

.category-card {
  background: none;
  border: none;
  text-align: center;
  color: var(--bs-white);
  position: relative;
  transition: transform 0.3s ease;
  h6 {
    color: var(--bs-white);
  }
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-icon {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
  }
}
.plctop {
  display: flex;
}

.plcbtm {
  display: none;
}

.popular-category {
  .row {
    row-gap: 24px;
  }
}
p {
  color: var(--bs-white);
}
.badge-count {
  background: var(--bs-white);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: var(--bs-primary-500);
  font-weight: 600;
}

.how-it-works {
  padding: 60px 0px;
  /* background: #111; */
  text-align: center;
}

/* .how-it-works h2 {
  font-weight: 700;
  color: #fff;
} */

.how-it-works .step-card img {
  width: 100%;
  border-radius: 10px;
}
.how-it-works {
  .row {
    margin: 0 -12px;
    row-gap: 20px;
    .col-12 {
      padding: 0 12px;
    }
  }
}

.why-choose {
  .row {
    /* margin: 0 -24px; */
    .col-lg-6 {
      padding: 0 24px;
    }
  }
}

.why-choose h2 {
  font-weight: 700;
  color: white;
}

.why-choose .feature-card {
  /* background: #1b1513; */
  color: white;

  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.why-choose .feature-card img {
  width: 24px;
  height: 24px;
}

.why-choose img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .why-choose .row {
    flex-direction: column-reverse;
  }
}

.feature-card {
  border: none;
  border-radius: 15px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */
  transition: transform 0.3s;
  padding: 2rem;
  margin-bottom: 2rem;
  height: 100%;
  border: 1px solid var(--bs-neutral-300);
}

.feature-card:hover {
  transform: translateY(-10px);
}

.section-title {
  font-weight: 700;
  margin-bottom: 1.5rem;
  position: relative;
  display: inline-block;
}

.articles-section {
  .row {
    margin: 0 -12px;
    row-gap: 20px;
    .col-md-6 {
      padding: 0 12px;
    }
  }
}

.article-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
  margin-bottom: 2rem;
  height: 100%;
  background: var(--bs-white);
}

.article-card:hover {
  transform: translateY(-5px);
}

.article-card img {
  height: 200px;
  object-fit: cover;
}

.article-card .card-body {
  padding: 1.5rem;
}

.article-card .card-title {
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.view-all-btn {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.view-all-btn i {
  margin-left: 5px;
  transition: transform 0.3s;
}

.view-all-btn:hover {
  color: var(--secondary-color);
}

.view-all-btn:hover i {
  transform: translateX(5px);
}

.features-section {
  /* background: #e7faef; */
  padding: 32px 24px;
  .row {
    margin: 0 -16px;

    .col-md-6 {
      padding: 16px;
    }
  }
}

li {
  color: var(--bs-white);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .slick-slide {
  background: #f5f5f5;
  border: 1px solid #ccc;
  text-align: center;
  padding: 40px 20px;
  font-size: 24px;
  margin: 10px;
} */

/* Hide arrows and dots */
.slick-dots,
.slick-arrow {
  display: none !important;
}

.category-autoplay {
  display: flex;
  gap: 24px;
  .category-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.accordion-button {
  padding: 0;
  height: fit-content;
  font-size: 18px;
  gap: 14px;
  color: var(--bs-white);
}

.accordion-item {
  background-color: transparent !important;
  border: 0px !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: var(--bs-white);
}
.accordion-body {
  padding: 0;
  margin-top: 16px;
  font-size: 14px;
  color: var(--bs-white);
}
.footerContainer {
  margin-top: 120px;
  background: var(--bs-neutral-900);
  .nav {
    color: var(--bs-white);
    font-size: 14px;

    i {
      font-size: 24px;
    }
  }
}

.text-black {
  color: var(--bs-white) !important;
}

.glow-on-hover {
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #002bff,
    #00bfff
  ); /* Only two blue tones */
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 200%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 4s linear infinite; /* Shorter duration for smoother loop */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 32px;
}

.glow-on-hover:active {
  color: white;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bs-primary-500);
  left: 0;
  top: 0;
  border-radius: 32px;
}

/* @keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} */

.btn {
  border-radius: 32px;
}

.social-media a i {
  /* background: var(--bs-primary-500); */
  color: var(--bs-primary-500);
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}
